include LICENSE
include hammer/training/models.json
include hammer/training/datasets/npc/categorical.csv.gz
include hammer/training/datasets/npc/*.json
include hammer/training/layered_dags/npc/*.json
include hammer/training/augmentation_strategies/pickaxe_normalized.json.xz