include LICENSE
include hammer/training/models.json
include hammer/training/multi_label.json
include hammer/training/relabelled.json
include hammer/training/categorical.csv.gz
include hammer/training/dag.json
include hammer/training/features/sugar_smarts.json